services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: guilloteam
      POSTGRES_PASSWORD: localdev
      POSTGRES_DB: guilloteam
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
